/* Dashboard*/
.dashboard {
     /* Các mục trong dashboard chiếm 1/4 chiều rộng */
    gap: 1.6rem;
    width: 100%; /* Đảm bảo phần này chiếm toàn bộ chiều rộng */
    height: 100px;
}
main .dashboard > div{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}
main .dashboard > div:hover{
    box-shadow: none;
}
main .dashboard h3{
    font-size: 1rem;
    font-weight: 600;
}
